<%# <nav class='navbar text-white footer justify-content-around fixed-bottom'> %>
    <%#=link_to "Contact us", welcome_contact_us_path%>
    <%#=link_to "About", welcome_about_path%>
    <%#=link_to "Careers", welcome_careers_path%>
<%# </nav> %>