
<div class="green text-center">
<h1>About</h1>
<h2>Your busy weeknights are about to be so much easier</h2>
<p>WE’VE MADE MEAL PLANNING, GROCERY SHOPPING, AND COOKING AS SIMPLE AS GETTING TAKEOUT</p>

</div>